.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;

  padding-bottom: 40px;

  margin: 0 -4px -7.5px;

  &__button {
    @extend %btn--simple;
    @extend %accent-bg-hover;
    margin: 0 4px 7.5px;
  }
}
